

html{
  width: 320px;
  height: 430px;
  background-color: gray;
}

.timer{
  font-size: 45px;
  color: #212529;
}

/* .mins, .spacer, .secs{
} */

/* Section for styling timerTime and Timer Text */
button.timerText{
  display: block;
  /* display: none; */
  pointer-events: none;
  border: none;
  color: #212529;
  font-weight: 600;
}
/* button.timerTextDisplay{
  display: none;
}

div.timerTimeDisplay{
  display: block;
} */
span{
  letter-spacing: -2px;
}
/* Section for styling timerTime and Timer Text */

.title{
  font-size: 40px;
}

.clock{
  position: relative;
}

.progress-ring{
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-ring__circle{
  /* transition: 0.5s; */
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: #0E6DFD;
}


/* input {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 80px;
} */